title: Jeanie Barker  # Used in html title and site header

defaults:
  -
    scope:
      path: ""
    values:
      layout: default
  -
    scope:
      path: ""
      type: project
    values:
      layout: project

collections:
  project:
    output: true
