<!DOCTYPE html>
<html>
<head>
<title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
</head>
<body>
  <header>
  <h1><a href="{{ site.baseurl }}">{{ site.title }}</a></h1>
  <nav>
    <ul>
      <li><a href="{{ site.baseurl }}">Home</a></li>
      <li><a href="{{ site.baseurl }}/projects">Projects</a>
		{%- comment %} If a project page, list projects {%- endcomment -%}
		{%- if page.collection == "project" -%}
			{%- for project in site.project -%}
				<li>
				{%- comment -%} Don't link if we're on the project page {%- endcomment -%}
        			{%- if page.url != project.url -%}<a href="{{ site.baseurl }}{{ project.url }}">{{ project.title }}</a>
        			{%- else -%}{{ project.title }}
        			{%- endif -%}
				</li>
			{%- endfor -%}
		{%- endif -%}
      </li>
    </ul>
  </nav>
  </header>
  <main>
{{ content }}
  </main>
</body>
</html>
