<!DOCTYPE html>
<html>
<head>
<title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
</head>
<body>
  <header>
  <h1><a href="{{ site.baseurl }}">{{ site.title }}</a></h1>
  <nav>
    <ul>
      <li><a href="{{ site.baseurl }}">Home</a></li>
      <li><a href="{{ site.baseurl }}/projects">Projects</a>
	      {%- if page.collection == "project" -%}
	      <ul>
		      <li>This page is project!</li>
	      </ul>
	      {%- endif -%}
      </li>
    </ul>
  </nav>
  </header>
  <main>
{{ content }}
  </main>
</body>
</html>
