---
layout: default
---
<style>
ul.images {
margin: 0;
padding: 0;
}
ul.images > li {
display: block;
}
ul.images > li > img {
display: block;
margin: 1em auto;
box-sizing: border-box;
max-width: 100%;
}
</style>

{%- if page.collection.size > 1 -%}
<nav>
	<ul>
{%- for project in site.project -%}
	{%- if project.url == page.url %}
	<li>{%- unless forloop.last -%}{% assign i = forloop.index0 | plus: 1 -%}<a href="{{ site.baseurl}}{{ site.project[i].url }}">Next</a>{%- else -%}Next{%- endunless -%}</li>
	<li>{%- unless forloop.first -%}{% assign i = forloop.index0 | minus: 1 -%}<a href="{{ site.baseurl}}{{ site.project[i].url }}">Previous</a>{%- else -%}Previous{%- endunless -%}</li>
	{%- endif %}
{%- endfor -%}
	</ul>
</nav>
{%- endif -%}

<header>
	<h2{% if page.graphic %}style="background: url("{{ site.baseurl }}{{ page.graphic }}");"{% endif %}>{{ page.title }}</h2>
</header>

{{ content }}

{% if page.images %}
<ul class="images">
{% for image in page.images %}
<li><img src="{{ image }}"/></li>
{%- endfor -%}
</ul>
{% endif %}
