---
layout: default
---
<style>
ul.images {
margin: 0;
padding: 0;
}
ul.images > li {
display: block;
}
ul.images > li > img {
display: block;
margin: 1em auto;
box-sizing: border-box;
max-width: 100%;
}
</style>

<div>
<header>
	<h2{% if page.graphic %}style="background: url("{{ site.baseurl }}{{ page.graphic }}");"{% endif %}>{{ page.title }}</h2>
</header>

{{ content }}

{% if page.images %}
<ul class="images">
{% for image in page.images %}
<li><img src="{{ image }}"/></li>
{%- endfor -%}
</ul>
{% endif %}
</div>

{% if site.project.size > 1 %}
<nav>
<ul>
{%- for project in site.project -%}
<li><a href="{{ site.baseurl }}{{ project.url }}">{{ project.title }}</a></li>
{% endfor %}
</ul>
</nav>
{%- endif -%}
